<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#">
        <img style="height:40px; width: auto; margin-right: 10px;" ngSrc="assets/logo-p4c.png" alt="" height="111" width="250">
      </a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Telesecretaries</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown" aria-expanded="false">Blogs</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Blogs ,type1</a></li>
            <li><a class="dropdown-item" href="#">Blogs ,type2</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button class="btn btn-primary" style="margin-right: 10px;">Login</button>
        <button class="btn btn-outline-dark" routerLink="/register">Register</button>
      </div>

    </div>
  </div>
</nav>
